.row div {
    border: 5px solid white;
    height: 5rem;
}

.row.blue div {
    background-color: blue;
}

.row.orange div {
    background-color: orange;
    height:10em;
}

.row.green div {
    background-color: green;
}

.row.red div {
    background-color: red;
    height:7em;
}
@media only screen and (min-width: 980px){
    .row.green div {
        background-color: green;
        height:12em;
    }
    .row.orange div {
        background-color: orange;
        height:15em;
    }
}